.mapContainer {
    text-align: center;
}
.mapContainer iframe {
    width: 900px;
    height: 738px;

}

@media screen and (max-width: 910px) {
    .mapContainer iframe {
        width: 600px;
    }
}

@media screen and (max-width: 610px) {
    body {
        width: 100%;
    }
    .mapContainer iframe {
        width: 100%;
        height: 500px;
    }
}
/* #mapDiv {
    height: 10px;
} */